.consultas {
  padding: 2rem;
  max-width: 700px;
  margin: auto;
  font-family: sans-serif;
}

.consultas h1 {
  text-align: center;
  margin-bottom: 1rem;
  color: #004d40;
}

.consultas ul {
  list-style: none;
  padding: 0;
}

.consultas li {
  background-color: #e0f7fa;
  border-left: 5px solid #00796b;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
}

 .titulo-home {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  background: url('/src/assets/fondoTitulo.jpg') center;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text; /* LA CLAVE */
  color: transparent;
  -webkit-text-fill-color: transparent; /* Safari y más */
  animation: animate 10s linear infinite;
}

  
  @keyframes animate{
    to{
      background-position-x: -200px;
    }
  }